
body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
 background-color:  #24262b;
}
h1{
  margin: center;
  
} 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.presentation{
  display: inline;
  text-align: right;
}
.presentation h1{
  display: inline;
  text-align: left;
  margin-left: 80px;
  color: #ffffff;
}
.img-cjelb{
  display: inline;
  width:1373px;;
}
.img-info h2{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: #ffffff;
  line-height: 20px;
  text-align: center;
}
.img-info p{
  font-family: 'Times New Roman', Times, serif;
  font-size: none;
  color: beige;
  line-height: 18px;
}

li, a{
  
  color: white;
  display: inline;
  text-decoration: none;
  margin: 10px;
  margin: center;
} 

ul li a{
  font-size: 26px;
  text-transform: capitalize;
  color:#ffffff;
  text-decoration: none;
  font-weight: 300px;
  color: #bbbbbb;
  display: inline-block;
  transition: 0.3s ease;
  display: inline; 
  
}

 ul li:not(:last-child){
  margin-bottom: 10px;
}
ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;1,200;1,600&display=swap');
 
  .container
  {
    max-width: 1170px; 
    margin: auto;
  }
 ul{
      list-style: none;
      }
  .row{
        display: flex;
        flex-wrap: wrap;
  }
  .footer{
     color: #f30606;
      background-color: #24262b;
      padding: 70px 0px;
  }
  .footer-col{
      width: 25%;
       padding: 0 15px;
  }
  .footer-col h4{ 
      font-size: 18px;
      color: #ffffff;
      text-transform: capitalize;
      margin-bottom: 35px;
      font-weight: 500;
      position: relative;
  }
  .footer-col ::before{
       content: "";
       position: absolute;
       left: 0;
       bottom: -10px;
       background-color: #e91e63;
       height: 2px;
       box-sizing: border-box;
       width: 50px;
  }
  .footer-col ul li:not(:last-child){
      margin-bottom: 10px;
  }
  .footer-col ul li a{
     font-size: 16px;
     text-transform: capitalize;
     color: #ffffff;
     text-decoration: none;
     font-weight: 300px;
     color: #bbbbbb;
     display: block;
     transition: 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition:0.5s ease;
  }
  .footer-col .social-links a:hover{
   color: #24262b;
   background-color: #ffffff;
  }
  /*responsive*/
  @media (max-width: 767px ){
  .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  .presentation{ 
    padding: 30px 0px 0px;
  }
}
  @media (max-width: 574px ){
      .footer-col{
          width: 100%;
          margin-bottom: 30px;
      }   
      .presentation{ 
        padding: 20px 0px 0px 20px;
      }
    }
  
       
  
                 
